*{
	margin:0;
	padding: 0;
	box-sizing: border-box;

}

body{
	background-color: #DCF5FF;
	direction: rtl;
	height: 1500px;
}

nav{
	width: 100%;
	background-color: #fff;
	padding: 14px 100px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: fixed;
    
	
}
a, a:hover{
	text-decoration: none;
}
nav a{
	color: #15B7D7;
}
nav a:hover{
	color: #1A73B7;
}

.logo a{
	display: flex;
	align-items: center;
	font-size: 24px;
	font-weight: bold;
	/* background-color: green; */
	
}

.logo a:hover{
	color: #15B7D7;
}

.logo img{
	width: 40px;
margin-left: 10px;
}

.menu{
	display: flex;
	align-items: center;
	list-style: none;
	
}

.menu li{
	padding-top: 16px;
	padding-bottom: 16px;
	font-size:16px ;

	
	
}
.menu li a{
	padding: 15px 10px;
	font-size:18px ;
	
}
.item-button{
		flex:1;
		margin-left:12px ;
	    background: #15B7D7;
	    border-radius: 4px;
	    border: none; 
	    font-family: Tajawal;
	    font-style: normal;
	    font-weight: 500;
	    color: #FFFFFF;
		
}

.item-button-secondary{
	flex: 1;
	    background: #FFFFFF;
	    border: 1px solid #15B7D7;
	    box-sizing: border-box;
	    border-radius: 4px;
	    font-family: Tajawal;
	    font-style: normal;
	    font-weight: 500;
	    color: #15B7D7;
}
.item-button {
	margin-right: 20px;
}


.toggle{
	font-size: 30px;
	display: none;
	/* background-color: grey; */
}

/* section2 */

.section1-contactUs{
    display: flex;
	flex-direction: column;
    
}

.hero-box{
	/* position: absolute; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin-top: -320px;
	padding-right: 16px;
	padding-left: 16px;
	
}

.hero-image{
	width: 100%;
	height: 630px;
}

.h2{
    /* خدماتنا */
font-family: Tajawal;
font-style: normal;
font-weight: bold;
font-size: 50px;
line-height: 60px;
text-align: right;
color: #15B7D7;
}

.p1{
font-family: Tajawal;
font-style: normal;
font-weight: bold;
font-size: 22px;
line-height: 25px;
color: #ffffff8f;
}


.section2-contactUs{
	display: flex;
	margin-top: 240px;
	padding: 24px 110px;
	flex-direction: column;
}

.h3-c{
font-family: Tajawal;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 36px;
/* identical to box height */
text-align: right;
text-transform: uppercase;
/* secondary color */
color: #15B7D7;
margin-top: 24px;
} 

.p2{
	font-family: Tajawal;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	color: #3b3b3b88;
	margin-top: 16px;
	}

	.section3-contactUs{
		display: flex;
		/* margin-top: 280px; */
		padding: 24px 110px;

		
	}
	.h3-c{
		font-family: Tajawal;
		font-style: normal;
		font-weight: bold;
		font-size: 27px;
		color: #15B7D7;
	}
	.p2{
			font-family: Tajawal;
			font-style: normal;
			font-weight: normal;
			font-size: 20px;
			color: #797878;
	}
	.s3-2{
		background-color: #fff;
		flex: 2;
		
	}

	.formbox{
		display: flex;
		flex-direction: column;
		padding: 16px;
	}
	
	.h6-c{
			font-family: Tajawal;
			font-style: normal;
			font-weight: 500;
			font-size: 16px;
			color: #797878;
			padding-bottom: 8px;
	}
	
	.select1{
		height: 48px;
		border: none;
		background: #F2F2F2;
		border-radius: 5px;
		text-align: right;
		padding: 8px;
		
	}

	.select1::placeholder{
		color: #a7a7a7;
	}
	
	.textarea1-contactUs{
		height: 100px;
		width: 100%;
		border: none;
		background: #F2F2F2;
		border-radius: 5px;
		text-align: right;
		resize: none;
		padding: 8px;
	
	}

	.textarea1::placeholder{
		color: #a7a7a7;
	}
	.bookNow{
		height: 48px;
		background: #15B7D7;
		border-radius: 5px;
		border: none;
		font-family: Tajawal;
		font-style: normal;
		font-weight: 500;
		font-size: 18px;	
		text-align: center;
		color: #FFFFFF; 
	}

	.s3-3{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: 0px 40px;
	}
	.s3-h1{
		font-family: Tajawal;
		font-style: normal;
		font-weight: bold;
		font-size: 26px;
		text-align: right;
		color: #15B7D7;
		padding-bottom: 12px;
		padding-top: 8px;
	}

	.info{
		display: flex;
		padding: 12px 0px;
		
	}

	.info-1{
		padding-right: 12px;		
	}
	.section4-contactUs{
		display: flex;
		padding: 24px 110px;
	}

	

.footer{
    display: flex;
    background-color: white;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    margin-top: 100px;
    height: 80px;
    
}
#logo{
    margin-right: 100px;
}
#logo a{
    color: #15B7D7;
}

.footer2{
    display: flex;
    align-content: center;
    align-items: center;
    width: 470px;
    justify-content:space-evenly;
    color: #797878;
}

.footer2con{
    display: flex;
    align-content: center;
    align-items: center;

}
.textvector4{
    padding-right: 16px;
}
.footer3{
    margin-left: 100px;
    font-size: 12px;
    color: #1A73B7;
}

/* .div2-c{
	background-color: #1A73B7;
} */

		
		



			



@media screen and (max-width:600px) {
	nav{
		display: block;
		position: relative;
		padding: 15px 16px;
		width: 100%;
		position: fixed;
		
		
	}
	.menu{
		margin-top: 20px;
		display: none;
		
	}
	.menu li{
		text-align: center;
		
	}
	
	.menu.active , .toggle{
		display: block;
	}

	.toggle{
		position:absolute;
		top: 15px;
		left: 16px;
		
	}

	.hero-box{
		margin-top: -260px;

	}

	.hero-image{
		height: 450px;
	}

	.p1{
		font-size: 16px;
		}
		
	.h2{
		font-size: 35px;
	}

	.section2-contactUs{
		margin-top: 130px;
		padding: 24px;
	}

	.h3-c{
	font-size: 24px;
	margin-top: 24px;
	} 

	.p2{
		font-size: 18px;
	}

	.section3-contactUs{
		padding: 24px;
		flex-direction: column;
	
		
	}
	.s3-h1{
		margin-top: 24px;

	}


	.s3-4{
		flex-wrap: wrap;
		flex-direction: row;
		display: flex;

		
	}
	.info{
		display: flex;
		padding: 12px 0px;
		flex-direction: row;
		flex-wrap: wrap;
	}

	.info-1{
		padding: 0px 12px;

	}
	.s3-3{
		padding: 0px 16px;
	}

	

	.footer{
		height: 250px;
	}
	 .footer2{
		flex-direction: row;
		flex-wrap: wrap;
		height: 250px;	
		margin-right: 8px;
		justify-content: space-between;
	
	}

	.textvector4{
		font-size: 14px;
	}

	.section4-contactUs{
		padding: 24px;
	}
	.footertext{
		font-size: 12px;
	}
	.footer2con{
		margin-top: 12px;
		
	}
	
	 #logo{
		margin-right: 16px;
	}


	.footer3{
		margin-left: 16px;
		
	}  
}



@media screen and (min-width:601px)and (max-width:768px) {
	nav{
		display: block;
		position: relative;
		padding: 15px 16px;
		/* background-color: blue; */
		width: 100%;
		position: fixed;
		
	}
	.menu{
		margin-top: 20px;
		display: none;
		flex-direction: row-reverse;
		
	}
	.menu li{
		text-align: center;
		
	}
	.menu.active , .toggle{
		display: block;
	}

	.toggle{
		position:absolute;
		top: 15px;
		left: 16px;
		
	}

	.hero-image{
		height: 620px;
	}
	.section2-contactUs{
		padding: 24px 24px;
	}

	.section3-contactUs{
		padding: 24px;
		
	}

	.section4-contactUs{
		padding: 24px;
	}

	
	
	.footer{
		height: 300px;
	
	}
	.footer2{
		flex-direction: row;
		flex-wrap: wrap;
		height: 250px;	
		margin-right: 8px;
		align-items: center;
		justify-content: space-between;
		width: 50%;
		padding-right: 50px;
		
		
	}
	.footer2con{
		margin-top: 12px;
		
	}

	#logo{
		margin-right: 16px;
	}

	.footer3{
		margin-left: 16px;
	}
}



@media screen and (min-width:769px)and (max-width:1024px) {
	nav{
		display: block;
		position: relative;
		padding: 15px 16px;
		/* background-color: rgb(28, 231, 187); */
		width: 100%;
		position: fixed;
		
	}
	.logo img{
		width: 40px;
		margin-right: 10px;
	}
	.menu{
		margin-top: 20px;
		display: none;
		flex-direction: row-reverse;
		
	}
	.menu li{
		text-align: center;
		
	}
	.menu.active , .toggle{
		display: block;
	}

	.toggle{
		position:absolute;
		top: 15px;
		left: 16px;
		
	}
	.section2-contactUs{
		padding: 24px 35px;
	}

	.section3-contactUs{
		padding: 24px 40px;
		
	}

	.section4-contactUs{
		padding: 24px 40px;
	}
	#logo{
		margin-right: 16px;
	}



	.footer3{
		margin-left: 16px;
	}	
}